img{
    border-color: blue;
    background-origin: padding-box;
    box-shadow:15px ;
    border-radius: 150px 0px 150px 0px;
}
r{
    background-color: greenyellow;
}
body{
    background-color: blueviolet;

}
#k{
    color: violet;
}